@import '~antd/dist/antd.less';

/* reset code STARTS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* * {
  border:1px solid grey;
} */

html {
  font-size:62.5%; 
  font-family: "Raleway";
}

/* reset code ENDS */

/* main css STARTS */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  padding: 1%;
  min-height: 100px;
}

header {
  display: flex;
  flex-direction: column;
  // min-height: 100px;
}


// #header-title {
//   width: 200%
// }

// h1 {
//   font-size: 7em;
//   font-weight: bold;
//   font-family: 'Dancing Script', cursive;
// }

h1.ant-typography {
  font-size: 10em;
  color: black;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  margin: 0.2em;
}

// .indiv-link {
//   font-family: 'Montserrat', sans-serif;
//   padding: 1%;
//   font-size: 1.6em;
// } 

// .nav-links {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }

.ant-menu-title-content {
  font-family: 'Montserrat', sans-serif;
}

.ant-menu-overflow {
  display: flex;
  justify-content: center;
}

.top-container {
  margin: 1%;
}

div.ant-typography {
  font-family: 'Hubballi', sans-serif;
  font-size: 1.8em;
}


/* main css ENDS */





// /* MEDIA QUERIES */

// /* FOR MOBILE DEVICES */

// @media(max-width: 480px) {

// /* HEADER CSS & NAVIGATION STARTS */

// .App {
//   margin: 2%;
// }

// #header-title {
//   margin: 2%;
// }

// h1 {
//   font-size: 5em;
// }

// .nav-links {
//   margin: 2%;
// }

// .indiv-link {
//   padding: 1%;
//   font-size: 1.3em;
// }

// /* HEADER CSS & NAVIGATION ENDS */

// /* TOP CONTAINER STARTS */

// .top-container {
//   margin: 2%;
// }

// p {
//   font-size: 1.3em;
// }

// /* TOP CONTAINER ENDS */

// }

// /* FOR TABLETS, IPADS (LOW RESOLUTION) */

// @media(min-width: 481px) and (max-width: 767px) {

// /* HEADER CSS & NAVIGATION STARTS */

// .App {
//   margin: 3%;
// }

// #header-title {
//   margin: 2%;
// }

// h1 {
//   font-size: 5em;
// }

// .nav-links {
//   margin: 2%;
// }

// .indiv-link {
//   padding: 1%;
//   font-size: 1.5em;
// }

// /* HEADER CSS & NAVIGATION ENDS */

// /* TOP CONTAINER STARTS */

// .top-container {
//   margin: 2%;
// }

// p {
//   font-size: 1.5em;
// }

// /* TOP CONTAINER ENDS */

// }

// /* FOR TABLETS, IPADS (PORTRAIT MODE) */

// @media(min-width: 768px) and (max-width: 1024px) {

// /* HEADER CSS & NAVIGATION STARTS */

// .App {
//   margin: 3%;
// }

// #header-title {
//   margin: 2%;
// }

// h1 {
//   font-size: 9em;
// }

// .nav-links {
//   margin: 2%;
// }

// .indiv-link {
//   padding: 1%;
//   font-size: 2.5em;
// }

// /* HEADER CSS & NAVIGATION ENDS */

// /* TOP CONTAINER STARTS */

// .top-container {
//   margin: 2%;
// }

// p {
//   font-size: 2.5em;
// }

// /* TOP CONTAINER ENDS */

// } 

// /* FOR LAPTOPS AND DESKTOPS */

// @media(min-width: 1025px) and (max-width: 1280px) {

// /* HEADER CSS & NAVIGATION STARTS */

// .App {
//   margin: 3%;
// }

// #header-title {
//   margin: 2%;
// }

// h1 {
//   font-size: 12em;
// }

// .nav-links {
//   margin: 2%;
// }

// .indiv-link {
//   padding: 1%;
//   font-size: 3.3em;
// }

// /* HEADER CSS & NAVIGATION ENDS */

// /* TOP CONTAINER STARTS */

// .top-container {
//   margin: 2%;
// }

// p {
//   font-size: 3em;
// }

// /* TOP CONTAINER ENDS */

// }

// /* FOR LARGE SCREENS */

// @media(min-width: 1281px) {

// /* HEADER CSS & NAVIGATION STARTS */

// .App {
//   margin: 3%;
// }

// #header-title {
//   margin: 2%;
// }

// h1 {
//   font-size: 15em;
// }

// .nav-links {
//   margin: 2%;
// }

// .indiv-link {
//   padding: 1%;
//   font-size: 4em;
// }

// /* HEADER CSS & NAVIGATION ENDS */

// /* TOP CONTAINER STARTS */

// .top-container {
//   margin: 2%;
// }

// p {
//   font-size: 3.6em;
// }

// /* TOP CONTAINER ENDS */

// }